fastapi==0.112.0
websockets==13.0.1
uvicorn
pydantic>=2.10.0,<3.0.0
python-dotenv==1.0.1
setuptools==71.0.2
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1
azure-mgmt-core==1.4.0
azure-mgmt-monitor==6.0.2
azure-monitor-opentelemetry==1.6.1
azure-search-documents==11.5.1
azure-storage-blob==12.22.0
azure-storage-queue==12.11.0
SQLAlchemy==2.0.32
pyodbc
alembic==1.13.2
tenacity==8.5.0
langchain==0.3.2
langchain-community==0.3.1
# langchain-core==0.3.72
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
pillow==10.4.0
python-slugify==8.0.4
azure-data-tables==12.7.0
matplotlib==3.10.3
python-multipart==0.0.20
openai-agents==0.2.4

